<div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-10">
  <dc-card variant="compact" label="20-23">
    September
  </dc-card>
  <dc-card variant="compact" label="20-23">
    September
  </dc-card>
  <dc-card variant="compact" label="20-23">
    September
  </dc-card>
  <dc-card variant="compact" label="20-23">
    September
  </dc-card>
</div>
